{% extends "base.html" %}
{% load l10n %}
{% load tz %}
{% load staticfiles %}

{% block head_title %}Home Page {% endblock %}

{% block navbar %}
<nav class="navbar">
    <div class="nav_menu_button">
        <img class="button_image" src="{% static 'img/menu_dark.png' %}">
    </div>
    <div class="nav_options">
        <div class="page_title">
            <h1>Home Page</h1>
        </div></br>
        <a href="#about">
            <div class="nav_option">About</div>
        </a></br>
        <a href="#education">
            <div class="nav_option">Education</div>
        </a></br>
        <a href="#projects">
            <div class="nav_option">Projects</div>
        </a></br>
        <a href="#skillset">
            <div class="nav_option">SkillSet</div>
        </a></br>
        <a href="{% static 'BarnettMichaelCV.pdf' %}">
            <div class="nav_option">CV</div>
        </a></br>
    </div>
</nav>
{% endblock %}

{% block content %}
<header class="header" style="background-image: url({% static 'img/balloons-Luca-Upper.jpg' %})">
    Header
</header>
<div class="content" data-spy="scroll" data-target=".content" data-offset="10">
    <section class="portfolio_section" id="about">
        <h1 class="portfolio_section--title">About</h1>
        <div class="portfolio_section--content">
            <p class="">
                I am a primarily self-taught backend coder, I have a strong logical foundation, am good at solving
                abstract problems. High attention to detail. BLAH BLAH  BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH
                 BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH
                 BLAH BLAH BLAH BLAH BLAH.
                 BLAH BLAH BLAH.
                 BLAH BLAH BLAH BLAH.
            </p>
        </div>
    </section>
    <section class="portfolio_section" id="education">
        <h1 class="portfolio_section--title">Education</h1>
        <div class="portfolio_section--content">
            <ul>
                <li>
                    <strong>Just IT Development Professional Programme</strong></br>
                    May 2016 - Current:
                    <a href="https://app.pluralsight.com/id/profile/barnettmichael" id="pluralsight_link">
                        Pluralsight profile
                    </a>
                </li>
                <li>
                    <strong>BA Philosophy 2:1(hons)</strong>: Birkbeck College, University of London</br>
                    Strong logical background, abitlity to express knowledge in a precise way.
                    able to read and critique complex arguments. Think creatively to abstract problems, and provide clear
                    and concise arguments to persuade others.
                </li>
                <li>
                    <strong>Mathematics and Astrophysics</strong>: University College London</br>
                    Focused mainly of mathematical methods, developing strong problem solving capabilities, ability to take
                    known solutions to analytical problems and reapply them to similar more complex problems.
                </li>
                <li>
                    <strong>A-Levels</strong>: 360 UCAS Points</br>
                    Further Mathematics A</br>
                    Mathematics A</br>
                    Physics A</br>
                </li>
            </ul>
        </div>
    </section>
    <section class="portfolio_section container-fluid" id="projects">
        <h1 class="portfolio_section--title">Projects</h1>
        <div class="portfolio_section--content row">
            <div class="portfolio_project col-md-3" id="score_prediction_challenge">
                <a href="{% url 'rwc_home' %}">
                    <div class="project_background"
                         style="background-image: url({% static '' %})">
                        <div class="project_title">Score Prediction Challenge</div>
                        <p class="project_description">
                            Text describing the project goes here, whole image is a link to project page
                            Should be centered over image, (desktop)maybe only appears on hover or gets brighter
                            on hover
                        </p>
                    </div>
                </a>
                <a class="project github_button" href="">
                    <img class="github_logo" src="{% static 'img/githublogo.png' %}"/>
                </a>
            </div>
            <div class="portfolio_project col-md-3" id="ffhelper">
                <a href="">
                    <div class="project_background"
                         style="background-image: url({% static 'img/FFHelperRunning.png' %})">
                        <div class="project_title">FFHelper</div>
                        <p class="project_description">
                            Fantasy Football picker assistant
                        </p>
                    </div>
                </a>
                <a class="project github_button" href="">
                    <img class="github_logo" src="{% static 'img/githublogo.png' %}"/>
                </a>
            </div>
            <div class="portfolio_project col-md-3" id="loot_filter_generator">
                <a href="">
                    <div class="project_background"
                         style="background-image: url({% static '' %})">
                        <div class="project_title">PoE Loot Filter</div>
                        <p class="project_description">
                            Generates Loot Filter String
                        </p>
                    </div>
                </a>
                <a class="project github_button" href="">
                    <img class="github_logo" src="{% static 'img/githublogo.png' %}"/>
                </a>
            </div>
        </div>
    </section>
    <section class="portfolio_section container-fluid" id="skillset">
        <h1 class="portfolio_section--title">Skill Set</h1>
        <div class="portfolio_section--content">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#python_string">
                        <h2 class="panel-title">
                            Python 2.7
                        </h2>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="70"
                                 aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                70%
                            </div>
                        </div>
                        </a>
                    </div>
                    <div id="python_string" class="panel-collapse collapse">
                        <div class="panel-body">
                            Built stuff in python
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#django_string">
                        <h2 class="panel-title">
                            Django
                        </h2>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="75"
                                 aria-valuemin="0" aria-valuemax="100" style="width:75%">
                                75%
                            </div>
                        </div>
                        </a>
                    </div>
                    <div id="django_string" class="panel-collapse collapse">
                        <div class="panel-body">
                            Built this website and rwc webapp
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#html_string">
                        <h2 class="panel-title">
                            HTML CSS
                        </h2>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60"
                                 aria-valuemin="0" aria-valuemax="100" style="width:60%">
                                60%
                            </div>
                        </div>
                        </a>
                    </div>
                    <div id="html_string" class="panel-collapse collapse">
                        <div class="panel-body">
                            Enough to support development of web app and this responsive website
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#javascript_string">
                        <h2 class="panel-title">
                            Javascript
                        </h2>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="30"
                                 aria-valuemin="0" aria-valuemax="100" style="width:30%">
                                30%
                            </div>
                        </div>
                        </a>
                    </div>
                    <div id="javascript_string" class="panel-collapse collapse">
                        <div class="panel-body">
                            Add interactivity to websites, used jquery library
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#csharp_string">
                        <h2 class="panel-title">
                            C#
                        </h2>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40"
                                 aria-valuemin="0" aria-valuemax="100" style="width:40%">
                                40%
                            </div>
                        </div>
                        </a>
                    </div>
                    <div id="csharp_string" class="panel-collapse collapse">
                        <div class="panel-body">
                            Did a bunch of exercises
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#sql_string">
                        <h2 class="panel-title">
                            SQL Postgres
                        </h2>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40"
                                 aria-valuemin="0" aria-valuemax="100" style="width:40%">
                                40%
                            </div>
                        </div>
                        </a>
                    </div>
                    <div id="sql_string" class="panel-collapse collapse">
                        <div class="panel-body">
                            Used to scrape data into a database and then fetch the data in FFHelper project
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!--<div class="about_me">
    <h2>About</h2>
    <p width="85%">
        This is a paragraph of text explaining that the website is currently under construction.
        Who i am etc.
        Built using Django.
    </p>
</div>
<div class="cv">
    <a href="">CV</a>
</div>
<div class="projects">
    <h2>Projects</h2>
    <table width="85%">
        <thead>
            <tr>
                <th>Project</th>
                <th>Github</th>
                <th>Documentation</th>
            </tr>
        </thead>
        <tbody>
        <tr id="poe_loot_filter">
            <td><a href="">poe loot filter generator</a></td>
            <td><a href="">coming soon</a></td>
            <td><a href="">coming soon</a></td>
        </tr>
        <tr id="ffhelper">
            <td><a href="">Fantasy Football Draft Helper</a></td>
            <td><a href="">coming soon</a></td>
            <td><a href="">coming soon</a></td>
        </tr>
        <tr id="rwc_site">
            <td><a href="{% url 'rwc_home' %}">Rugby World Cup Challenge</a></td>
            <td><a href="https://github.com/BarnettMichael/website/tree/master/rwc">link</a></td>
            <td><a href="">coming soon</a></td>
        </tr>
        <tr id="website">
            <td><a href="{% url 'home' %}">This Website</a></td>
            <td><a href="https://github.com/BarnettMichael/website">link</a></td>
            <td><a href="">coming soon</a></td>
        </tr>
        <tr id="other">
            <td><a href="">Misc Other Stuff</a></td>
            <td><a href="">coming soon</a></td>
            <td><a href="">coming soon</a></td>
        </tr>

        </tbody>
    </table>
</div>-->
<!--
<h2 id="local-date">{{today}}</h2>
<p>This is the time using your local information</p>
<h2 id="non-local-date">{{today|unlocalize}}</h2>
<p>This is the default time format</p>
<h2>Time Zones</h2>
<p> London: <span id="time-tz">{{now|time:"H:i"}}</span></p>
<p> UTC: <span id="time-utc">{{now|utc|time:"H:i"}}</span></p>
<p> New York: <span id="time-ny">{{now|timezone:"America/New_York"|time:"H:i"}}</span></p>
-->
{% endblock %}