{% extends "base.html" %}
{% load l10n %}
{% load tz %}
{% load staticfiles %}

{% block head_title %}Home Page {% endblock %}

{% block navbar %}
<nav class="navbar">
    <div class="nav_menu_button">
        <img class="button_image" src="{% static 'img/menu_dark.png' %}">
    </div>
    <div class="nav_options">
        <a href="#about">
            <div class="nav_option">
                <div>About</div>
            </div>
        </a></br>
        <a href="#education">
            <div class="nav_option">
                <div>Education</div>
            </div>
        </a></br>
        <a href="#portfolio">
            <div class="nav_option">
                <div>Portfolio</div>
            </div>
        </a></br>
        <a href="#skillset">
            <div class="nav_option">
                <div>SkillSet</div>
            </div>
        </a></br>
        <a href="{% static 'BarnettMichaelCV.pdf' %}">
            <div class="nav_option">
                <div>CV</div>
            </div>
        </a></br>
    </div>
</nav>
{% endblock %}

{% block content %}
<header class="header" style="background-image: url({% static 'img/coffee-small4.png' %})">
    <div class="header--data container-fluid">
        <div class="row">
            <div class="header__intro col-xs-9">
                <div class="intro__detail">
                    <h1 id="name">Michael Barnett</h1>
                    <h3 id="description">Python developer with a bit of Angular2</h3>
                </div>
            </div>
            <div class="header__options col-xs-3">
                <a href="#about">
                    <div class="header__option">About</div>
                </a>
                <a href="#education">
                    <div class="header__option">Education</div>
                </a>
                <a href="#portfolio">
                    <div class="header__option">Portfolio</div>
                </a>
                <a href="#skillset">
                    <div class="header__option">SkillSet</div>
                </a>
                <a href="{% static 'BarnettMichaelCV.pdf' %}">
                    <div class="header__option">CV</div>
                </a>
            </div>
        </div>
    </div>
</header>
<div class="content" data-spy="scroll" data-target=".content" data-offset="10">
    <section class="portfolio_section" id="about">
        <div class="portfolio_section--content">
            <div class="about__data">
                <p class="about__data--intro">
                Hi my name is <strong>Mike</strong> and I am a self-taught <strong>Python developer</strong>
                specialising in <strong>backend</strong> development. Since finishing my degree in philosophy I have
                been teaching myself software development and have recently begun a self-funded development course with
                Just IT.
                I decided to invest in myself and take the course in order to provide structure to my study and to
                give me the confidence that I have a well rounded understanding of the skills necessary to succeed
                as a developer. Over the course of my philosophy degree I developed strong
                <span class=highlight>problem solving</span> skills and the ability to
                    <span class="highlight">analyse</span> and break apart complex abstract problems building on skills
                    learned over the course of my study of mathematics.
                In addition to improving my ability to <span class=highlight>communicate</span> abstract ideas to
                explain myself to the team I am currently working on a problem with.
                </p>


                <p class="about_data--dev">
                Over my development career I have built a website using <strong>Django</strong> that allows users to
                guess which team is going to win a sports match; a GUI based application using <strong>Tkinter</strong>
                that recommends players for the users fantasy American football team over the course of a draft and
                a <strong>web scraper</strong> to collect data for the database used by the application.
                    <a href="#portfolio">Project details</a>
                </p>

                <div class="about__data--education_title">
                    <strong>Mathematics</strong> <i class="fa fa-fw fa-angle-right"></i>
                    <strong>Philosophy</strong> <i class="fa fa-fw fa-angle-right"></i>
                    <span class="highlight">Software Development</span>
                </div>
                <p class="about__data--education_info">
                I think that software development is a natural progression from both
                mathematics and philosophy because all three disciplines are based on a strong ability to
                think logically and analyse a problem; break it down into simpler parts
                and then solve those simple problems in order to find a solution to the original complex problem.
                Software development combines the symbolic and formal logic systems of mathematics with the broader
                scope of philosophy and uses abstract problem solving to allow you to build a concrete product that
                can be of more practical benefit and that is valuable to a much wider audience.
                </p>

            </div>
        </div>
    </section>
    <section class="portfolio_section" id="education">
        <h1 class="portfolio_section--title">Education</h1>
        <div class="portfolio_section--content">
            <ul class="fa-ul education_list">
                <li><i class="fa-li fa-fw fa fa-code"></i>
                    <span class="highlight">Just IT Development Professional Programme</span></br>
                    Invested in a self-funded course, to improve my development abilities and get myself to the point
                    where I can meaningfully contribute to a development team.
                    </br><a href="https://app.pluralsight.com/id/profile/barnettmichael" id="pluralsight_link">
                        Pluralsight profile
                    </a>
                </li>
                <li><i class="fa-li fa-fw fa fa-book"></i>
                    <span class="highlight">BA Philosophy 2:1(hons):</span>
                    <strong>Birkbeck College, University of London</strong></br>
                    Strong logical background, ability to express knowledge in a precise way. Able to read and critique
                    complex arguments. Think creatively to solve abstract problems, and provide clear and concise
                    arguments to persuade others.
                </li>
                <li><i class="fa-li fa-fw fa fa-bar-chart"></i>
                    <span class="highlight">Mathematics and Astrophysics:</span>
                    <strong>University College London</strong></br>
                    Focused mainly of mathematical methods, developing strong problem solving capabilities, ability to take
                    known solutions to analytical problems and reapply them to similar more complex problems.
                </li>
                <li><i class="fa-li fa-fw fa fa-graduation-cap"></i>
                    <span class="highlight">A-Levels:</span>
                    <strong>360 UCAS Points</strong></br>
                    Further Mathematics A</br>
                    Mathematics A</br>
                    Physics A</br>
                </li>
            </ul>
        </div>
    </section>
    <div class="spacer" id="about_spacer">
        <ul class="fa-ul spacer--content">
            <li><i class="fa fa-li fa-fw fa-bar-chart"></i> Analytical</li>
            <li><i class="fa fa-li fa-fw fa-puzzle-piece"></i> Abstract Problem Solving</li>
            <li><i class="fa fa-li fa-fw fa-question"></i>Inquisitive</li>
            <li><i class="fa fa-li fa-fw fa-calendar"></i>Collaborative</li>
            <li><i class="fa fa-li fa-fw fa-comments"></i>Good Communication Skills</li>
        </ul>
    </div>
    <section class="portfolio_section container-fluid" id="portfolio">
        <h1 class="portfolio_section--title">Portfolio</h1>
        <div class="portfolio_section--content row">
            <div class="portfolio_project col-sm-3" id="score_prediction_challenge">
                <a href="{% url 'project_score_predictor' %}">
                    <div class="project_background"
                         style="background-image: url({% static 'img/score_predictor_splash.png' %})">
                        <div class="project_button">
                            <div class="project_title">
                                <i class="fa fa-plus fa-2x"></i></br></br>Details
                            </div>
                        </div>
                    </div>
                </a>
                <!--<a class="project github_button" href="https://github.com/BarnettMichael/website/tree/master/rwc">
                    <img class="github_logo" src="{% static 'img/githublogo.png' %}"/>
                </a>-->
            </div>
            <div class="portfolio_project col-sm-3" id="ffhelper">
                <a href="{% url 'project_ffhelper' %}">
                    <div class="project_background"
                         style="background-image: url({% static 'img/FFHelperRunning.png' %})">
                        <div class="project_button">
                            <div class="project_title">
                                <i class="fa fa-plus fa-2x"></i></br></br>Details
                            </div>
                        </div>
                    </div>
                </a>
                <!--<a class="project github_button" href="https://github.com/BarnettMichael/FantasyFootballHelper">
                    <img class="github_logo" src="{% static 'img/githublogo.png' %}"/>
                </a>-->
            </div>
            <div class="portfolio_project col-sm-3" id="loot_filter_generator">
                <a href="{% url 'project_lootfilter' %}">
                    <div class="project_background"
                         style="background-image: url({% static 'img/loot_filter_splash.png' %})">
                        <div class="project_button">
                            <div class="project_title">
                                <i class="fa fa-plus fa-2x"></i></br></br>Details
                            </div>
                        </div>
                    </div>
                </a>
                <!--<a class="project github_button" href="https://github.com/BarnettMichael/PoELootFilterGenerator">
                    <img class="github_logo" src="{% static 'img/githublogo-light.png' %}"/>
                </a>-->
            </div>
        </div>
    </section>
    <section class="portfolio_section container-fluid" id="skillset">
        <h1 class="portfolio_section--title">Skill Set</h1>
        <div class="portfolio_section--content row">
            <a class="modal_link col-xs-6 col-sm-4" data-toggle="modal" data-target="#python_modal">
                <div class="modal_button">
                    <h2 class="modal_title">Python 2.7</h2>
                </div>
            </a>
            <div id="python_modal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h2 class="modal-title">Python 2.7</h2>
                        </div>
                        <div class="modal-body">
                            <b>Projects:</b>
                            <ul>
                                <li>
                                    FFhelper: Use Scrapy, SQLAlchemy and postgres to collect data into a database.</br>
                                    Use data in database displayed on a tkinter GUI within the application.<br>
                                </li>
                                <li>
                                    POE Loot Filter Generator: Outputs a string depending on the data stored in dictionaries within the file.
                                </li>
                            </ul>

                            <b>newcoder.io tutorials:</b>
                            <ul>
                                <li>Data Visualisation: import a csv file, make a graph using matplotlib, output a GeoJSON file that can be mapped.</li>
                                <li>API: Interacting with a public API</li>
                                <li>Web Scraping: Use Scrapy, SQLAlchemy and Postgres to collect data and imput it into a database</li>
                                <li>GUI: Use tkinter to build an interactive display for a simple sudoku game</li>
                            </ul>

                            <b>Learn Python the Hard Way ebook</b>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <a class="modal_link col-xs-6 col-sm-4" data-toggle="modal" data-target="#django_modal">
                <div class="modal_button">
                     <h2 class="modal_title">Django</h2>
                </div>
            </a>
            <div id="django_modal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h2 class="modal-title">Django</h2>
                        </div>
                        <div class="modal-body">
                            <b>Score Predictor Website</b>
                            <ul>
                                <li>Wrote models to represent user, match, guess</li>
                                <li>Wrote some admin methods</li>
                                <li>Queried a database</li>
                                <li>Uses Django built in user authentication</li>
                                <li>Wrote regex for url matching</li>
                            </ul>
                            <b>Djangogirls tutorial</b>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <a class="modal_link col-xs-6 col-sm-4" data-toggle="modal" data-target="#html_modal">
                <div class="modal_button">
                     <h2 class="modal_title">HTML/CSS</h2>
                </div>
            </a>
            <div id="html_modal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h2 class="modal-title">HTML/CSS</h2>
                        </div>
                        <div class="modal-body">
                            <ul>
                                <li><b>Integrated HTML with django tags and blocks to provide data-driven views</b></li>
                                <li><b>Bootstrap integration in website design</b></li>
                                <li><b>Pluralsight courses on HTML5 and CSS3</b></li>
                                <li><b>Codeacademy.com course on HTML/CSS and Sass</b></li>
                                <li><b>Designed and built this website to be responsive through use of media queries</b></li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <a class="modal_link col-xs-6 col-sm-4" data-toggle="modal" data-target="#javascript_modal">
                <div class="modal_button">
                     <h2 class="modal_title">Javascript</h2>
                </div>
            </a>
            <div id="javascript_modal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h2 class="modal-title">Javascript</h2>
                        </div>
                        <div class="modal-body">
                            <ul>
                                <li><b>Wrote Javascript and jQuery scripts to produce animations on website</b></li>
                                <li><b>Codeacademy.com course on Javascript and jQuery</b></li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <a class="modal_link col-xs-6 col-sm-4" data-toggle="modal" data-target="#angular_modal">
                <div class="modal_button">
                     <h2 class="modal_title">Angular2</h2>
                </div>
            </a>
            <div id="angular_modal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h2 class="modal-title">Angular2</h2>
                            </div>
                            <div class="modal-body">
                                <ul>
                                    <li><b>Completed Angular2 Tour of Heroes tutorial</b></li>
                                    <li><b>Completed Angular2: Getting Started course on pluralsight</b></li>
                                    <li><b>Currently building a single page app that connects to a RESTful API</b></li>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            <a class="modal_link col-xs-6 col-sm-4" data-toggle="modal" data-target="#csharp_modal">
                <div class="modal_button">
                     <h2 class="modal_title">C#</h2>
                </div>
            </a>
            <div id="csharp_modal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h2 class="modal-title">C#</h2>
                        </div>
                        <div class="modal-body">
                            <b>Two week bootcamp: covered syntax, OOP, LINQ, File IO</b>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <a class="modal_link col-xs-6 col-sm-4" data-toggle="modal" data-target="#sql_modal">
                <div class="modal_button">
                     <h2 class="modal_title">SQL and Postgres</h2>
                </div>
            </a>
            <div id="sql_modal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h2 class="modal-title">SQL and Postgres</h2>
                            </div>
                            <div class="modal-body">
                                <b>Used to scrape data into a database and then fetch the data in FFHelper project</b>
                            </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </section>
</div>
{% endblock %}