{% extends "website/project_template.html" %}
{% load staticfiles %}



{% block head_title %}LOOTFILTER Project{% endblock %}

{% block content_title %} PoE Lootfilter {% endblock %}

{% block project_description %}
This is a simple script, that uses a set of dictionaries to store data.
The script uses a series of functions each of which use the stored data and print a formatted string.


{% endblock %}

{% block project_skills %}
<ul>
    <li>Python 2.7</li>
</ul>
{% endblock %}

{% block project_media %}
<ol class="carousel-indicators">
    <li data-target="#media_carousel" data-slide-to="0" class="active"></li>
    <li data-target="#media_carousel" data-slide-to="1"></li>
    <li data-target="#media_carousel" data-slide-to="2"></li>
</ol>

<div class="carousel-inner" role="listbox">
    <div class="item active">
        <img src="{% static 'img/loot_filter_off.png' %}" alt="LootFilterOff">
    </div>

    <div class="item">
        <img src="{% static 'img/loot_filter_on.png' %}" alt="LootFilterOn">
    </div>

    <div class="item">
        <img src="{% static 'img/loot_filter_code.png' %}" alt="LootFilterCode">
    </div>
</div>
{% endblock %}

{% block github_link %}
<a href="https://github.com/BarnettMichael/PoELootFilterGenerator">See source code on GitHub</a>
{% endblock %}

{% block link_to_webapp %}

{% endblock %}