{% extends "website/project_template.html" %}
{% load staticfiles %}

{% block head_title %}Fantasy Football Helper Project{% endblock %}

{% block content_title %} Fantasy Football Helper {% endblock %}

{% block project_description %}
Fantasy Football Helper helps you pick your NFL fantasy football team by providing recommended players based on their
past performances, what positions you currently need to fill or whether you already have a full compliment of starters.
The script recommends those players who are still available with the best historic performance and also those who have the best value
in comparison to the mean of players in their position.
</br></br>
This project includes a web scraper written using the scrapy library, The data collected is stored in a postgres Database
data is collected and parsed by assigning xpath locations into PlayerItem objects. Which are stored using a sqlalchemy
pipeline into the database.</br>
Data in the database is then retrieved via sending SQL queries when the app software is opened is used to display
information to the user via the GUI

{% endblock %}

{% block project_skills %}
<div class="project_skill">
    <span class="highlight">Python 2.7</span> - The webscraper, GUI and logic of the app is all written in python.
    </div>

    <div class="project_skill">
        <span class="highlight">Scrapy + Xpath selectors</span> - A python package that provides webscraping
        tools, used to write the spider that collected the data.
    </div>

    <div class="project_skill">
        <span class="highlight">SQL Alchemy</span> - Used as part of the pipeline to input data into the database, used to receive data
        from scrapy and input it into a database by creating and sending the raw SQL for inputting user defined objects.
    </div>
    <div class="project_skill">
        <span class="highlight">PostGres Database</span> - Used to store the data in a relational database.
    </div>
    <div class="project_skill">
        <span class="highlight">psycopg2</span> - Used to connect to a database and send a cursor with user written raw SQL code to be executed.
    </div>
    <div class="project_skill">
        <span class="highlight">TKinter GUI</span> - GUI package that is part of the base python library.
    </div>

{% endblock %}

{% block project_video %}
<iframe id="project_video" src="https://www.youtube.com/embed/LD72Em-67Cg" frameborder="0" allowfullscreen></iframe>
{% endblock %}

{% block project_media %}
<ol class="carousel-indicators">
    <li data-target="#media_carousel" data-slide-to="0" class="active"></li>
    <li data-target="#media_carousel" data-slide-to="1"></li>
    <li data-target="#media_carousel" data-slide-to="2"></li>
    <li data-target="#media_carousel" data-slide-to="3"></li>
</ol>

<div class="carousel-inner" role="listbox">
    <div class="item active">
        <img src="{% static 'img/ffhelper_example.png' %}" alt="FFHelperExample">
    </div>

    <div class="item">
        <img src="{% static 'img/ffhelper_new_game.png' %}" alt="FFHElperNewGame">
    </div>

    <div class="item">
        <img src="{% static 'img/ffhelper_parse_code.png' %}" alt="FFHelperParse">
    </div>

    <div class="item">
        <img src="{% static 'img/ffhelper_utils_code.png' %}" alt="FFHelperUtils">
    </div>
</div>
{% endblock %}

{% block github_link %}
<a href="https://github.com/BarnettMichael/FantasyFootballHelper">
    <img src="{% static 'img/githublogo.png' %}"/>Github
</a>
{% endblock %}



{% block link_to_webapp %}
{% endblock %}

{% block further_work %}

<div class="portfolio_section--title">Further Work</div>
<div class="project_skill">
    <span class="highlight">Improve Scalability</span> -
    Redesign database access to make use of an ORM, instead of using temptables within the database. This will improve
    scalability of the project as users will just connect to the database to collect current data and all data manipulation
    is properly encapsulated in the client application.
</div>
<div class="project_skill">
    <span class="highlight">Scale Rookie/Young Player Scores</span> - Instead of Rookies having no value due to no
    previous appearances, use performance of other players playing the same position picked at similar points in the
    draft to provide an estimate for their rookie performances.
</div>
<div class="project_skill">
    <span class="highlight">Improve Score Weighting</span> - Track the current formula for weighting against observed
    player performance and make changes to the model to increase the accuracy with which the application recommends
    players
</div>
<div class="project_skill">
    <span class="highlight">Bench Players</span> - Instead of no longer recommending players who play a position no
    longer required to be able to field a legal team reduce their associated value so that they are less likely to be
    recommended, this will allow the application to recommend players for the bench and extend its usefulness to later
    rounds.
</div>

{% endblock %}