{% extends "website/project_template.html" %}
{% load staticfiles %}


{% block head_title %}Score Predictor Project{% endblock %}

{% block content_title %} Score Predictor Challenge{% endblock %}

{% block project_description %}
The Score Predictor Challenge is a website that allows you to compete against other users
to try and guess the results of sports matches. The website allows you to guess who will win upcoming sports matches
and by what margin. User guesses are tracked and points are assigned based on whether or not the correct team was
selected, with bonus points awarded to the user(s) who is closest to the actual winning margin.
The homepage displays the current standings of users, a list of upcoming matches and links to make/edit
user guesses for upcoming matches and a view of all previous results and the guesses each user made associated with them.
</br></br>
The website is made using Django, with data being stored in a MySql database.
{% endblock %}

{% block project_skills %}

    <div class="project_skill">
        <span class="highlight">Django</span> -
        <ul>
            <li>Models - used to represent, Team, User, and Guess objects.</li>
            <li>Templates - HTML files with Django tags embedded in them to allow use of data passed in by the view.</li>
            <li>Views - used to query the database, and render the templates while passing the appropriate collections for use in the template.</li>
            <li>Admin Methods - used to update user scores, and create guesses for input match objects.</li>
            <li>URL matching regular expression patterns - used to associate a particular url or pattern of urls with a view.</li>
        </ul>
    </div>
    <div class="project_skill">
        <span class="highlight">Python 2.7</span> - All logic for the website is written in python.
    </div>
    <div class="project_skill">
        <span class="highlight">HTML 5</span> - Used to write the Templates in a responsive design.
    </div>
    <div class="project_skill">
        <span class="highlight">CSS</span> - Custom CSS written to style elements in the templates to improve usability.
    </div>
    <div class="project_skill">
        <span class="highlight">Javascript/Jquery</span> - Used to create an interactive dropdown menu.
    </div>

{% endblock %}

{% block project_media %}
<ol class="carousel-indicators">
    <li data-target="#media_carousel" data-slide-to="0" class="active"></li>
    <li data-target="#media_carousel" data-slide-to="1"></li>
    <li data-target="#media_carousel" data-slide-to="2"></li>
    <li data-target="#media_carousel" data-slide-to="3"></li>
    <li data-target="#media_carousel" data-slide-to="4"></li>
    <li data-target="#media_carousel" data-slide-to="5"></li>
    <li data-target="#media_carousel" data-slide-to="6"></li>
    <li data-target="#media_carousel" data-slide-to="7"></li>
    <li data-target="#media_carousel" data-slide-to="8"></li>
    <li data-target="#media_carousel" data-slide-to="9"></li>
    <li data-target="#media_carousel" data-slide-to="10"></li>
</ol>

<div class="carousel-inner" role="listbox">
    <div class="item active">
        <img src="{% static 'img/sp_home.png' %}" alt="ScorePredictorHome">
    </div>
    <div class="item">
        <img src="{% static 'img/sp_home2.png' %}" alt="ScorePredictorHome2">
    </div>
    <div class="item">
        <img src="{% static 'img/sp_login_landscape.png' %}" alt="ScorePredictorLogInScreen">
    </div>
    <div class="item">
        <img src="{% static 'img/sp_home_logged_in.png' %}" alt="ScorePredictorLoggedIn">
    </div>
    <div class="item">
        <img src="{% static 'img/score_predictor_models.png' %}" alt="ScorePredictorModels">
    </div>
    <div class="item">
        <img src="{% static 'img/score_predictor_views.png' %}" alt="ScorePredictorViews">
    </div>
    <div class="item">
        <img src="{% static 'img/sp_guesses.png' %}" alt="ScorePredictorGuessesTop">
    </div>
    <div class="item">
        <img src="{% static 'img/sp_guesses2.png' %}" alt="ScorePredictorGuessesBottom">
    </div>
    <div class="item">
        <img src="{% static 'img/sp_guesses_selection.png' %}" alt="ScorePredictorGuessSelection">
    </div>
    <div class="item">
        <img src="{% static 'img/sp_results.png' %}" alt="ScorePredictorResults">
    </div>
    <div class="item">
        <img src="{% static 'img/sp_menu.png' %}" alt="ScorePredictorMenu">
    </div>


</div>
{% endblock %}

{% block github_link %}
<a href="https://github.com/BarnettMichael/website/tree/master/rwc">
    <img src="{% static 'img/githublogo.png' %}"/>Github
</a>
{% endblock %}

{% block link_to_webapp %}

<section class="webapp_section">
    <a class="webapp_link" href="{% url 'rwc_home' %}">
        <div class="webapp_button">See it in action</div>
    </a>
</section>

{% endblock %}

{% block further_work %}

<div class="portfolio_section--title">Further Work</div>
<div class="project_skill">
    <span class="highlight">Automate Admin</span> -
    <ul>
        <li>Subscribe to an API such that the website will automatically add upcoming matches in chosen events
            to the database.</li>
        <li>Write a method that is called once a day that updates the scores for matches that have finished and
            recalculates user scores.</li>
    </ul>
</div>
<div class="project_skill">
    <span class="highlight">More Stat Tracking</span> - Increase the number of stats tracked on a per user basis
    and add a page or set of pages to display the advanced stats to the user and allow them to compare with other
    users.</br>
    e.g. <ul>
    <li>Percent of guesses where user chose the correct team; number of times a user has guessed
        the score difference the closest to the result
    </li>
    <li>Different leaderboards for different competitions and records of number of competitions won/participated in.
    </li>
</ul>
</div>

{% endblock %}