*.pyc
__pycache__
myvenv
db.sqlite3
.DS_Store
security.py
**/static/calorie-calculator/
**/static/calorie-calculator/node_modules
*.ts
*.js.map
*.sublime*

/website/static/img/coffee-small2.png
/website/static/img/coffee-small3.png
/website/static/img/coffee-small.png
