/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
    font-family: 'Raleway', sans-serif;
    }

.highlight {
    font-weight: bold;
    color: rgb(153, 23, 60);
    }

a:hover {
    text-decoration: none;
    }

.header {
    margin-top: -3vh;
    height: 103vh;
    background-size: cover;
    background-color: rgb(153, 23, 60);
    }

.header--data {
    width: 100%;
    height: 100%;
    color: rgb(255,255,255);
    }

.header__intro {
    height: 20vh;
    text-align: center;
    margin: 43vh auto;
    }

.intro__detail {
    position: relative;
    top: 17%;
    left: 5%;
    transform: translateY(-50%);
}

.header__options {
    padding-right: 5vw;
    height: 100%;
    margin: 38vh auto;
    font-size: 3.5vh;
    text-align: right;
}

.header__options a {
    color: rgb(255,255,255);
    }

.header__options a:hover {
    color: rgb(51, 122, 183);
    }

.header__option {
    margin-bottom: 0.4em;
    }

body {
    font-size: 1em;
    color: rgb(46,38,51);
    }

.navbar {
    position: fixed;
    background-color: rgba(25,25,25,0);
    font-weight: bold;
    text-align: center;
    margin-top: 0%;
    width: 100vw;
    height: 85px;
    z-index: 10;
}

.navbar.expanded {
    background-color: rgba(25,25,25,0.5);
    color: rgb(255,255,255);
    font-size: 3.3vh;
    padding-top: 20vh;
    }

.navbar:hover {
    background-color: rgba(25,25,25,0.8);
    }

.navbar.expanded:hover {
    background-color: rgba(25,25,25,0.8);
    }

.navbar .nav_menu_button {
    position: absolute;
    top: 16px;
    right: 16px;
    }

.navbar .nav_menu_button.expanded {
    }

.navbar .nav_options {
    display: none;
    }

.navbar .nav_options.expanded {
    text-transform: uppercase;
    }

.navbar .page_title {
    font-size: 2em;
    }

.navbar .nav_option {
    font-size: 1.2em;
    padding-right: 10vw;
    height: 3.5em;
    width: 110vw;
    }

.navbar .nav_option:hover {
    border-top: solid 1px rgb(255,255,255);
    border-bottom: solid 1px rgb(255,255,255);
}

.navbar div {
    display: none;
    padding-top: 0.5em;
    display: inline-block;
    position: relative;
    font-weight: bold;
    }

.navbar div.expanded {
    display: inline;
    }

.navbar a {

}

.navbar a:visited, .navbar a:link{
    text-decoration: none;
    color: inherit;
}

.navbar a.expanded:link, .navbar a.expanded:visited {
    color: inherit;
    }

.navbar .Title {
    position: relative;
    margin-top: 5px;
    display: initial;
    }

.navbar .Title.expanded {
    position: relative;
    margin-top: 5px;
    }

.navbar .Cv_Button {
    float: left;
    margin-left: 3px;
}

.navbar .Cv_Button.expanded {
}

.navbar .Projects_Menu {
    margin-top: 5px;
}

.navbar .Projects_List {
    width: 200%;
    margin-top:-1px;
    padding-top:10px;
    display:none;
    position:absolute;
    background-color: #3E7F7F;
    z-index: -1;
}

.navbar .Project {
    font-weight:bold;
    width: 100%;
}

.navbar .Score_Predictor {
    float: right;
    font-weight: bold;
    margin-right: 3px;
}

.navbar .Spacer {
    width: 20%;
}

.navbar .Login {
    position: relative;
    float: right;
    padding: 0px 0px 0px 0px;
    margin: 75px 15px 0px 0px;
}

.navbar .Login span {
    color: #FFF056;
}

.content {
    margin: auto;
    position: relative;
    line-height: 2em;
    }

.spacer {
    height: 250px;
    background-color: rgb(153, 23, 60);
    margin: 75px 0;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    position: relative;
    }

.spacer--content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow:hidden;
    height: 250px;
    color: rgb(255, 255, 255);
    }

.spacer--content li {
    font-size:1.4em;
    opacity:0;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: -5vw;
    margin-right: auto;
    left: 0;
    right: 0;
    }

.spacer .fa-ul {
    margin: 0;
    }

.spacer .fa-li {
    position: relative;
    top: 0;
    left: 0.5em;
    }

.portfolio_section {
    color: rgb(46,38,51);
    max-width: 1200px;
    margin: 150px 5vw;
    }

.portfolio_section--title {
    text-align: center;
    border: 5px rgb(46,38,51) solid;
    font-size: 2em;
    font-weight: bold;
    color: rgb(153,23,60);
    margin: 60px auto;
    padding: 5px;
    width: 235px;
    }

.portfolio_section--content {
    }

.about__data {
    width: 90%;
    margin: auto;
    }

.about__data--education_title {
    text-align: center;
    margin: 35px auto 15px;
    }

#pluralsight_link {
    text-align: center;
    }

.education_list li {
    margin: 20px auto;
    }

.education_list li i {
    top: 6px;
    }

.portfolio_project {
    width: 360px;
    height: 360px;
    background-color: rgb(200,200,200);
    margin: 0px auto;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    border-radius: 10%;
    }

.project_button {
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(85,81,82,0.6);
    border-radius: 10%;
    }

.project_title {
    position: relative;
    color: rgb(255,255,255);
    margin: auto;
    top: 59%;
    transform: translateY(-50%);
    font-size: 3.5em;
    font-weight: bold;
    }

.project_background {
    height: 360px;
    width: 360px;
    background-repeat: no-repeat;
    background-position: bottom left;
    border-radius: 10%;
    }


.github_logo {
    position: relative;
    top: -45px;
    left: 155px;
    height: 32px;
    width: 32px;
    z-index: 1;
    }

#skillset {
    max-width: 675px;
    margin-left: auto;
    margin-right: auto;
    }

footer {
    text-align: right;
    padding: 2vh 0px;
    background-color: rgba(46,38,51, 1) ;
    color: rgb(255,255,255);
    }

footer h2 {
    padding-right: 10vw;
    }

footer a {
    color: rgb(255,255,255);
    }

footer a:hover {
    color: rgb(51, 122, 183);
    }

.login_section {
    height: 53.4vh;
    }

.login_form {
    margin: 4vh 100px;
    font-size: 1.4em;
    position:relative;
    }

.login_form #id_username, .login_form #id_password {
    width: 250px;
    }

.login_button {
    left: 288px;
    position: absolute
    }

.login_error {
    text-align: center;
    font-size: 2em;
    margin: 10vh auto;
    }

.modal_button {
    width: 220px;
    height: 220px;
    background-color: rgb(153,23,60);
    text-align: center;
    margin-top: 5px;
    margin-left: -1.5vw;
    }

.modal_button:hover {
    background-color: rgb(46,38,51);
    color: rgb(51, 122, 183);
    cursor: pointer;
    }

.modal_title {
    position: relative;
    color: rgb(255,255,255);
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

@media all and (orientation: portrait) {

    .header {
        height: 53vh;
        }

    .header__intro {
        margin: 18vh auto;
        }

    .intro__detail {
        top: 37.5%;
        left: 18.5%;
        }

    .header__options {
        display: none;
        }

}

@media all and (max-width: 545px){

    .portfolio_section {
        padding-right: 0px;
        padding-left: 0px;
    }

    .modal_button {
        width: 160px;
        height: 160px;
        }
}

@media all and (max-width: 767px) {
    #skillset {
        margin-left: 5vw;
        margin-right: 5vw;
        }

    .modal_button {
        margin-left: auto;
        margin-right: auto;
        }
}

@media all and (max-width: 820px) {
    .portfolio_project{
        float: none;
        }
}

@media all and (min-width: 1100px) {
    .intro__detail h1 {
        font-size: 4em;
    }

    .intro__detail h3 {
        font-size: 2em;
    }
}

@media all and (min-width: 1200px) {
    .portfolio_section {
    margin-left: auto;
    margin-right: auto;
    }

    .spacer .fa-li{
    left: 0px
    }
}

@media all and (min-width: 1500px) {
    .intro__detail h1 {
        font-size: 6em;
    }

    .intro__detail h3 {
        font-size: 2.8em;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.vertical_centre {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    }
/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
