.header {
    height: 50vh;
    background-color: rgb(153, 23, 60);
}

.project_title {
    text-align: center;
    text-decoration: none;
    background-color: rgba(46,38,51,0.5);
    font-size: 5.8vw;
    }

.text_column {
    padding-left: 3vw;
    padding-right: 2vw;
    }

.project_skill {
    border: 1px solid rgb(46,38,51);
    border-radius: 5px;
    margin: 5px auto;
    padding: 5px;
    }

.media_column {
    }

.project_media {
    background-color: rgba(0, 0, 255, 0.2);
    margin-bottom: 4vh;
    }

.carousel-inner .item img {
    height: 65vh;
    object-fit: contain;
}

.github_link {
    font-size: 2em;
    text-align: right;
    }

.webapp_section {
    margin: 75px auto;
    width: 215px;
    }

.webapp_button {
    text-align: center;
    font-size: 2.5em;
    background-color: rgb(153,23,60);
    color: rgb(255, 255,255);
    padding: 5px;
    border-radius: 12px;
    border: 5px solid rgb(46, 38, 51)
    }


.webapp_button:hover {
    background-color: rgb(46,38,51);
    color: rgb(51, 122, 183);
    }

/************************************    Media-Carousel    *************************************************/

#project_video {
    width: 100%;
    margin: auto;
    height: 50vh;
    padding-bottom: 1vh;
    }

.item img {
    width: 100%;
    height: 75vh;
    }


/***************************************    Media-Queries    ****************************************************/

@media all and (min-width: 850px) {
    .project_title {
        font-size: 56px;
        }
}

@media all and (max-width: 545px){
    .project_video, .project_media {
        margin-left: 0px;
        margin-right: 0px;
        }

}
