.header {
    height: 35vh;
    background-color: rgb(0, 150, 255);
    position: relative;
    }

.score_predictor_title {
    text-align: center;
    position: relative;
    top: 15vh;
    text-decoration: none;
    font-size: 5.8vw;
    padding-top: 0px;
    color: rgb(255,255,255);
    margin: auto;
    }

.header_logout {
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    font-size: 1.3em;
    color: rgb(255, 255, 255);
    }

.header_logout a{
    color: orange;
    }

.introduction {
    margin: 5vh auto;
    font-size: 1.5em;

    }

.btn-choice, .btn-login {
    width: 35%;
    margin: 5vh 7%;
    text-align: center;
    }

.btn-choice a {
    color: rgb(255, 255,255);
    }

.table_title {
    text-align: center;
    margin: 3vh auto -3vh auto;
    font-size: 2.8em;
    font-weight: bold;
    }

.standings_table {
    text-align: center;
    font-size: 1.5em;
    margin: 5vh auto;
    }

.standings_table th {
    text-align: center;
    font-size: 1.7em;
    }

.match_list_title {
    text-align: center;
    font-size: 1.4em;
    text-decoration: underline;
    margin-bottom: 1vh;
    }

.match_list {
    text-align: center;
    }

/******************************************* GUESSES PAGE ******************************************************/

.guess_intro_text {
    margin: 2vh auto;
    }

.guess_formset {
    margin: auto;
    text-align: center;
    }

.guess_formset th {
    text-align: center;
    }

.match, .match select {
    width: 185px;
    }

.winning_team, .winning_team select {
    width: 100px;
    }

.score_difference, .score_difference input {
    width: 42px;
    }

.save_button {
    margin-top: 1vh;
    width: 327px;
    margin-left: -163.5px;
    left: 50%;
    position: relative;
    }

.next_week_button {
    text-align: right;
    padding: 2vh 3vw;
    font-size: 1.2em;
    }

/**********************************************Guesses Media Queries *************************************************/

@media (min-width: 510px) {

.match, .match select {
    width: 35vw;
    min-width: 300px;
    font-size: 1.2em;
    height: 1.6em;
    margin: 0.7em auto;
    }

.winning_team, .winning_team select {
    width: 10vw;
    min-width: 160px;
    font-size: 1.2em;
    height: 1.6em;
    margin: 0.7em auto;
    }

.score_difference, .score_difference input {
    width: 5vw;
    min-width: 50px;
    font-size: 1.2em;
    height: 1.6em;
    margin: 0.7em auto;
    }

.save_button {
    margin-top: 1vh;
    width: 25vw;
    min-width: 327px;
    margin-left: -12.5vw;
    left: 50%;
    position: relative;
    font-size: 1.2em;
    }

}


/************************************************** RESULTS PAGE *****************************************************/

.results_tables {
    margin: 2vh auto;
    text-align: center;
    }

.match_results {
    text-align: center;
    margin-bottom: 2vh;
    }

.result_title {
    font-size: 1.4em;
    text-decoration: underline;
}

.result_time {
    font-size: 0.8em;
}

.result_winner {
    font-weight: bold;
    font-size: 1.6em;
}

.result_margin {
    font-weight: bold;
    font-size: 1.6em;
}

.guess_table {
}