{% extends "base.html" %}
{% load l10n %}
{% load tz %}

{% block head_title %}Rugby World Cup Score Predictor {% endblock %}

{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1>Rugby World Cup Score Predictor</h1>
        <p>This is the homepage for the rwc guessing game. Check out the current standings</br>
            Make your own predictions etc.
        </p>
          <p>
              <a class="btn btn-default" href="{% url 'rwc_guesses' %}" role="button">Go To Guesses Page &raquo;</a>
          </p>
        <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
            <h3>
            <br id="matchlist">
                <u>Matches Today</u>
                {% for match in matches_today %}
                    {{ match }} : {{ match.time }} </br>
                {% endfor %}
            </h3>
        </div>
      </div>
      <div class=table>
            <tr>
                <td>Name</td><td>Points</td>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ user.name }}</td><td>{{ user.points }}</td>
            </tr>
            {% endfor %}
      </div>

        <div class="row">
            <div class="col-md-4">
                <h4>
                    <u>Matches Tomorrow</u>
                    {% for match in matches_tomorrow %}
                        {{ match }} : {{ match.time }}</br>
                    {% endfor %}
                </h4>
            </div>

        </div>
    </div>
{% endblock %}