{% extends "base.html" %}
{% load l10n %}
{% load tz %}

{% block head_title %}Rugby World Cup Score Predictor {% endblock %}
{% block navbar_title %}Rugby World Cup Score Predictor{% endblock %}
{% block content %}
    <div class="jumbotron">
      <div class="container">
        <p>This is the homepage for the rwc guessing game. Check out the current standings</br>
            Make your own predictions etc.
        </p>
          <p>
              <a class="rwc_link" href="{% url 'rwc_guesses' %}" role="button">Make/Edit your guesses</a>
          </p>
      </div>
    </div>

    <div class="container">
        <table>
            <thead>
                <tr>
                    <th colspan="2">Current Standings</th>
                </tr>
                <tr>
                    <th>Name</th><th>Points</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.name }}</td><td>{{ user.points }}</td>
                </tr>
            {% endfor %}
             </tbody>
        </table>
        </br>
        <a class="rwc_link" href="{% url 'rwc_results' %}">Finished Match Results</a>
        <h3>
        <u>Matches Today</u></br>
        {% for match in matches_today %}
            {{ match }} : {{ match.time }} </br>
        {% endfor %}
        </h3>

        <h4>
        <u>Matches Tomorrow</u></br>
        {% for match in matches_tomorrow %}
            {{ match }} : {{ match.time }} </br>
        {% endfor %}
        </h4>

        <h4>Next to work on</h4>
        <ul>
            <li>Improve look</li>
            <li>add points scored per game to results tables
            <li>save all guesses with a single button</li>
        </ul>
    </div>
{% endblock %}