{% extends "base.html" %}
{% load l10n %}
{% load tz %}

{% block head_title %}Rugby World Cup Score Predictor {% endblock %}

{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1>Rugby World Cup Score Predictor</h1>
        <p>This is the homepage for the rwc guessing game. Check out the current standings</br>
            Make your own predictions etc.
        </p>
        <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
            <h3>
            <br id="Matchlist">
                {% for form in forms %}
                <form method="post" class="guess-form"> {% csrf_token %}
                    {{ form.match }}
                    {{ form.winning_team }}
                    {{ form.points_difference }}
                    <button type="submit" class="save btn btn-default">Save</button>
                </form>
                </br>
                {% endfor %}
            </h3>
        </div>

      </div>



      <footer>
        <p>&copy; Company 2015</p>
      </footer>
    </div>
{% endblock %}