{% extends "base.html" %}
{% load l10n %}
{% load tz %}

{% block head_title %} {{ user.user.name }} Guesses {% endblock %}

{% block navbar_title %} Rugby World Cup Score Predictor {% endblock %}

{% block content %}
    <div class="jumbotron">
      <div class="container">
      <p>This is where you make your guesses, you currently have to click save for every match</br>
            One Weeks games displayed at a time.</br>
            If you want to choose a draw just set the points difference to 0, and pick either team.
            Closest person to actual points difference of those who pick the correct winning team gets a bonus point.
      </p>
      </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
            <table>
                <thead>
                    <tr><th colspan="5"> Matches</th></tr>
                    <tr>
                        <th>Match</th>
                        <th>Date</th>
                        <th>Team Chosen</th>
                        <th colspan="2">Predicted Score Difference</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in forms %}
                    <form method="post" class="guess-form"> {% csrf_token %}
                    <tr>
                        <td>{{ form.match }}</td>
                        <td>{{ form.time }}</td>
                        <td>{{ form.winning_team}}</td>
                        <td>{{ form.score_difference }}</td>
                        <td>
                            <button type="submit" class="save btn btn-default">Save</button>
                        </td>
                    </tr>
                    </form>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
    <div class="next_week_button">
        <a href = "{% url 'rwc_guesses_more' pk=pk %}">Next Week Matches</a>
    </div>
{% endblock %}