{% extends "base.html" %}
{% load l10n %}
{% load tz %}

{% block head_title %} {{ user.user.name }} Guesses {% endblock %}

{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1>Rugby World Cup Score Predictor</h1>
        <p>This is where you make your guesses, you currently have to click save for every match</br>
            I think, not sure.</br>
            If you want to choose a draw just set the points difference to 0, and pick either team.
            Closest person to points difference gets a bonus point
        </p>
        <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
            <table>
                <thead>
                    <tr><th colspan="5"> Matches</th></tr>
                    <tr>
                        <th>Match</th>
                        <th>Date</th>
                        <th>Team Chosen</th>
                        <th colspan="2">Predicted Score Difference</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in forms %}
                    <form method="post" class="guess-form"> {% csrf_token %}
                    <tr>
                        <td>{{ form.match }}</td>
                        <td>{{ form.time }}</td>
                        <td>{{ form.winning_team}}</td>
                        <td>{{ form.score_difference }}</td>
                        <td>
                            <button type="submit" class="save btn btn-default">Save</button>
                        </td>
                    </tr>
                    </form>
                    {% endfor %}
                </tbody>
            </table>
            <!--<h2><p><u>Match</u>
                   <u>Team Chosen</u>
                   <u>Score Difference</u>
               </p>
            </h2>
            <h3>
            <br id="Matchlist">
                {% for form in forms %}
                <form method="post" class="guess-form"> {% csrf_token %}
                    {{ form.match }}
                    {{ form.time }}
                    {{ form.winning_team }}
                    {{ form.score_difference }}
                    <button type="submit" class="save btn btn-default">Save</button>
                </form>
                </br>
                {% endfor %}
            </h3> -->
        </div>

      </div>



      <footer>
        <p></p>
      </footer>
    </div>
{% endblock %}